<div class="box">
	<h1><span style="font-size:46px;"><%= fa_icon('lightbulb-o') %></span><span style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;Sobre</span></h1>
</div>
<div class="box">
	<div class="col-md-8 col-md-offset-2" style="float: inherit;">
​		<p>Todos os dias temos ideias que se postas em prática facilitariam não só nossas vidas, facilitaria a vida de muita gente.</p>
		
		<p>Mas quantas destas ideias que temos a caminho do trabalho, durante uma conversa de barzinho com amigos saem do papel? Quantos livros, sites, aplicativos, engenhocas e muita coisa bacana não chega a existir por estarem largadas ao léu?</p>

		<p>ideias com potencial de <b>impacto social e financeiro</b> surgem e desaparecem a todo momento. Falta de tempo e conhecimento técnico são alguns dos principais motivos para que estas ideias não saiam do papel.</p>

		<p>Não seria legal se estas ideias se tornassem realidade? E se seus projetos saíssem do papel e tomassem vida, não melhoraria sua vida e seu cotidiano?</p>

		<p><b>Executar</b> sua ideia, realizar seu sonho pode estar mais próximo do que você imagina.</p>

		<p>Muitas pessoas dizem: "se eu soubesse programar faria um aplicativo, se eu soubesse cozinhar faria um serviço de entrega à la carte", etc.</p>
		
		<p>Mas pera lá, eu não sei programar, mas alguém que saiba poderia me ajudar a fazer, ou até mesmo fazer meu aplicativo.</p>
		
		<p>Eu não sei cozinhar mas sei vender. Por que não unir forças com um(a) cozinheiro(a)?</p>

		<p>Por que não um aplicativo de entregas à la carte?</p>

		<p>Basta contar ao mundo sua ideia e com certeza terá alguém disposto a ajuda-lo a executar.</p>

		<p>Desta foma é possível validar sua ideia, encontrar alguém para ajuda-lo e acima de tudo executar o que pode ser um sonho, um novo negócio, uma oportunidade única de causar um impacto na sua e na vida de outras pessoas.</p>
		 
		<p>Com o <b>Agregador de ideias</b> é possível, adicionar uma ideia receber votos, comentários e caso algum executor tenha interesse em executar uma de suas ideias, basta entrar em contato com você da maneira que for mais conveniente para você.</p>

		<p>Se você não tem ideias mas tem habilidades para executar ideias, vontade de botar a mão na massa, não se acanhe esse é o seu lugar. Escolha uma ideia, vote, entre em contato e faça a diferença!</p>

		<p><center><iframe width="560" height="315" src="//www.youtube.com/embed/Cj0LK6R8IaE" frameborder="0" allowfullscreen></iframe></center></p>
	</div>
</div>