<h1>Frase Legal e impactante aqui</h1>
<p>Tire suas idéias do papel!</p>

<div class="row progress">
  <%= render @ideas %>
</div>

<div class='loading'>
  Carregando...
</div>

<script>
  $(function(){
    updateProjectSections();
  })

  function updateProjectSections(offsetElement){
    var actionsLi = null;

    if(offsetElement){
      actionsLi = offsetElement.nextAll()
    }else{
      actionsLi = $('.progress');
    }
  }
</script>