<h1>Welcome#index</h1>
Pegue uma boa idéia, adicione bons executores o resultado será surpreendente.


<div class="box">
	<h1><span style="font-size:86px;"><%= fa_icon('lightbulb-o') %></span><span style="vertical-align: super;">&nbsp;&nbsp;&nbsp;Idéias que valem a pena!</span></h1>
</div>

<div class="box">
<%= image_tag 'preview.jpg' %>
</div>