@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
		color:#333;
  	background-color: #E3E3E3;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.box{
	background-color: #FFFFFF;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 150px;
}

.box h1{
	font-weight: bold;
	color: #FF8705;
}

.idea{
	background: asset-url('lamp.png') no-repeat;
	background-position-y: center;
	background-origin: content-box;
	background-color: #FFFFFF;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 150px;
}

.idea-hover{
	background: asset-url('lamp-hover.png') no-repeat;
	background-position-y: center;
	background-origin: content-box;
	background-color: #FFFFFF;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 150px;
}

.idea h2{
	color: #FF8705;
	font-weight: bold;
	font-size: 28px;
}

h2 a, a:hover{
	color: #FF8705;
}

.left{
	float: left;
}

.right{
	float: right;
}

.idea-hover h2{
	color: #FF8705;
	font-weight: bold;
	font-size: 28px;
}

.idea > .content{
	padding: 0 0 0 82px;
}

.idea-hover > .content{
	padding: 0 0 0 82px;
}

.heart{
	color: #E84F60;
	float: right;
}

footer{
	color: #fccc28;
	background-color: #2B7718;
	padding: 18px;
	border-top-style: solid;
	border-top-color: #fccc28;
	border-width: 2px;
}

footer h2{
	text-align: center;
}

a.idea-text{
	color: #333;
	background-color: transparent;
	text-decoration: none;
};