body {
		color:#333;
  	background-color: #E3E3E3;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.box{
	background-color: #FFFFFF;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 120px;
}
.title{
	margin-top: 90px;
	background: rgba(83, 87, 95, 0.5);
	-webkit-box-shadow: 0 0 0 10px rgba(158, 148, 148, 0.5);
	-moz-box-shadow: 0 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 0 10px rgba(83, 94, 104, 0.5);
	line-height: 91px;
	padding: 0 10px;
	font-weight: 100;
}

.center{
	text-align: -webkit-center;
}
.box h1{
	font-weight: bold;
	color: #FF8705;
}

.idea{
	
	background-origin: content-box;
	background-color: #FFFFFF;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 170px;
	vertical-align:middle;
}

.idea-hover{
	
	background-origin: content-box;
	background-color: #FFF9F4;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	padding: 20px;
	margin-bottom: 20px;
	min-height: 170px;
}

.idea h2{
	color: #FF8705;
	font-weight: bold;
	font-size: 28px;
}

h2 a, a:hover{
	color: #FF8705;
}

.left{
	float: left;
}

.right{
	float: right;
}

.idea-hover h2{
	color: #FF8705;
	font-weight: bold;
	font-size: 28px;
}

.idea > .content{
	padding: 0 0 0 82px;
}

.idea-hover > .content{
	padding: 0 0 0 82px;
}

.heart{
	color: #E84F60;
	float: right;

	a {
		color: #333;
	}
}

footer{
	border-top-style: solid;
	border-top-color: #428BCA;
	border-width: 4px;
}

footer mark{
	color: #FFF;
	background: #428BCA;
	vertical-align: middle;
}

footer h2{
	text-align: center;
}

a.idea-text{
	color: #333;
	background-color: transparent;
	text-decoration: none;
}

/*-------------------Colors----------------*/
.dark-gray {
  color: #545454;
}

.light-gray {
  color: #f4f4f4;
}

.white {
  color: #ffffff;
}

.green {
  color: #13c4af;
}

.blue {
  color: #4eacdd;
}



/* ==========================================================================
   Navigation styles
   ========================================================================== */
.navbar-inverse {
    background-color: #4eabde;
    border-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
    padding: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-inverse .navbar-toggle {
    border-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(0, 0, 0, 0);
    border: 0px;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.0) inset;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	color: #fff;
  background-color: #1382BB;
}