@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

section.white{
	color: #f05a24;
	background-color: #FFFFFF;
	min-height: 700px;
	position: relative;
}

h1.bigger-text {
	font-size: 102px;
}

h1.bigger-lamp{
	font-size: 500px;
}

section.orange{
	color: #FFFFFF;
	background-color: #f05a24;
	min-height: 400px;
	position: relative;
}

section.blue{
	color: #FFFFFF;
	background-color: #81a7e6;
	min-height: 700px;
	position: relative;
}

section.pink{
	color: #FFFFFF;
	background-color: #eb6e6e;
	min-height: 700px;
	position: relative;
}

h1.big-lamp{
	font-size: 350px;
}

h1.big-text{
	font-size: 62px;
	padding: 10px;
}